<h1>Welcome to the Friends List App! Here you can Add, Edit, and Remove friends at your liesure.</h1>

<br>
this is my first webpage...
I want to contue but its almost 2 am
<br>
<br>
about 42 mins in, we still need to ensure success
<br>
<br>
now im 1:03:22, lets get it!
<br>
<br>
crud is the easiest thing with ruby, we will create a crud database, what does crud stand for? Create, Read, Update, Destroy.
<br>
I have now created my first list on a database which i manage, this is awesome! anyways im on 1:21:36, keep on truckin.
<br>
<br>
The first half of this last lesson was all bootstrap coding. It started with styling the friends list, we changedd the header to a dark theme, also changed the inner table styling to a border, and finally gave it a hover effect. Then we styled the buttons to reflect our current colors and mood. And also forgot to mention that we gave it new alerts while deleting the "notices".
<br>
The second half was to add a user sign in, sign out, sign up, and edit profile option. In order to do that we needed to install an important gem called devise. With looking at the documentation, we found out how to implement the use case properly, following the directions on the terminal, it was installed and developed successfully, remember we commented it out on the production side. Then we used if else statements to categorize what we see whether we are signed in or out.<br> Currently at 2:02:18.
<br>
<br>
This next lesson began with bootstrapping the sign up, login, and edit profile pages. We made them look better with a card from the documentation page and gave the titles a header for appearance. I also decided to leave a header on top of the params as well as a disapearing text inside the params. The cancel my account section is also a card.
<br>
Then for the next lesson we chose to work on associations. I made the belongs to association connect with the friends database. But in order to make it work, I had to destroy every friend in that current database while also destroying the k@k.com account that i previously made. The goal with this is to only allow the signed in profile to only view their added friends, if i sign up with a new account that new account should not see k@k.coms friends. More on that in the next lesson. <br> We are making good work, im at 2:45:45.
<br>
<br>
This next lesson adds some security to our application. By giving certain permissions to each current user, only the ones that are signed in can view the list of friends, and only the ones that created that friend will be able to view, edit, or destroy that friend. We went over some database statements, and even gave a new notice to hackers that try and access the wrong friends list. Wowee! <br> Currently at 3:06:36.
<br>
<br>
This lesson gave me insight through everything we worked on up until this point. So I wanted to add a delete button in the edit section of the friends list, in order to add it we needed to go to the bootstrap website to get the button code. I wanted to also make the names clickable links to show the details and in that details page we also added another delete button for easier navigation. We got rid of the colspan id in order to shorten up the box, it went from three to 1, so we took it out entirely.
<br>
<br>
The final lesson shows how we can use version control (git ) to make all our work go into a repository. First go to codemy.com/git. Copy the first line and enter it to your terminal and using your real name, copy and paste second line and insert your proper email. Then copy the rest line by line and you will be all good in the hood. you should see the master symbol in blue. Then clear. Your next code is $git add . -this is going to add everything to the repository. The next pieve of code to be entered is $git commit -am 'initial commit' -inbetween the comment braces should be whatever your commit is, but since this is the first commit, i will put 'initial commmit'.
<br>
Once the git repositories are updated you will direct your attention to creating the heroku app, also through the terminal. Adding anything to the app will yield a new commit with a new description of changes. Your goal now is to ensure your app is live with a new name for your app since rails friends will be taken. If you have a custom domain, add it on the heroku side, and you will go to namecheap to direct the registrar to the app. There are thousands of ways to do that you just have to follow another tutorial through namecheap. This has been fun!